/********************************************************************/
/* FONT ICONS *******************************************************/
/********************************************************************/

/* general setup */
@font-face {

    font-family: fontello;
    src:url('../fontello/font/fontello.eot?v=1');
    src:url('../fontello/font/fontello.eot?#iefix') format('embedded-opentype'),
        url('../fontello/font/fontello.woff?v=1') format('woff'),
        url('../fontello/font/fontello.ttf?v=1') format('truetype'),
        url('../fontello/font/fontello.svg#fontello') format('svg');
    font-weight: normal;
    font-style: normal;

}

@mixin defaultIconFont( $font_name ) {

    font-family: $font_name;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.icon {

    display: inline-block; position: relative;

    &:before {

        @include defaultIconFont('fontello');

        position: absolute; top: 0; left: 0;

    }

}

.iconRpl {

    display: inline-block;

    span {

        display: none;

    }

    &:before {

        @include defaultIconFont('fontello');

        display: block;

    }

}

$icons: (
    grid: "\e800",
    close: "\e803",
    left: "\e801",
    right: "\e802",
    facebook: "\e804",
    twitter: "\e805",
    gplus: "\e806",
    mail: "\e807",
    viber: "\e808",
);

@each $icon, $code in $icons {

    .#{$icon}Icon:before {

        content: $code;

    }

}