@import 'node_modules/bourbon/app/assets/stylesheets/bourbon';
@import 'node_modules/pelinkovac/scss/all';

.gpElement {

    position: relative; height: 100vh;
    background-color: #000;

}

.gpHeader {

    height: 6em; position: relative; z-index: 10;
    background-color: #1b1b1b;

}

.gpCloseBtn, .gpToggleThumbsBtn {

    @include normalizeButton;
    font-size: 1em;
    position: absolute; right: 0; top: 0; bottom: 0; width: 6em;
    text-indent: -999em; border-left: 1px solid #000;

    &:before {

        font-size: em(35,10); content: "×"; position: absolute; left: 0; right: 0; top: 0;
        line-height: em(60,35); text-align: center; text-indent: 0;
        color: #fff;

    }

}

.gpToggleThumbsBtn {

    right: 6.1em; &:before { content: '\229E'; }

}

.gpPages {

    font-size: 1.5em; font-weight: bold;
    position: absolute; left: 50%; top: 0;
    line-height: em(60,15); width: em(60,15); margin: 0 0 0 em(-60/2,15);
    text-align: center; color: #fff;

}

.gpBrand {

    @include ellipsis;
    font-size: 1.7em; font-weight: bold;
    position: absolute; left: 0; top: 0; right: 55%; line-height: em(60,17);
    box-sizing: border-box; padding: 0 em(15,17);
    color: #fff;

}

.gpItems {

    position: relative; overflow-x: hidden; visibility: hidden;
    position: absolute; left: 0; right: 0; top: 6em; bottom: 0;


    > ul {

        position: relative; overflow: hidden; padding: 0; margin: 0; height: 100%;

        > li {

            float: left; width:100%; position: relative; overflow: hidden; height: 100%;
            text-align: center;

            &:before {
                content: ""; display: inline-block; height: 100%; vertical-align: middle;
            }

        }

    }

}

.gpItem {

    position: relative; display: inline-block; vertical-align: middle; margin: 0px auto;
    box-sizing: border-box; z-index: 2020; text-align: left; max-width: 100%;

    > img {

        display: block; width: auto; max-width: 100%; height: auto; line-height: 0;
        box-sizing: border-box; margin: 0 auto; padding: 1em;

    }

}

.gpArrow {

    @include normalizeButton;
    position: absolute; top: 50%; width: 5em; height: 6em;;
    text-indent: -999em; background-color: rgba(#000, 0.1);

    &:before {

        @include transition(text-indent 0.2s);
        font-size: em(40,10); position: absolute; left: 0; right: 0; top: 50%; height: em(40,40); line-height: em(35,40); margin-top: em(-20,40);
        color: #fff; text-indent: 0; text-align: center; text-shadow: 0 1px 1px rgba(#000, 0.5);

    }

}

.gpArrowPrev {

    left: 0; &:before { content: '\2039'; }

    &:hover:before { text-indent: -3px; }
    &:active:before { text-indent: -6px; }

}

.gpArrowNext {

    right: 0; &:before { content: '\203A'; }

    &:hover:before { text-indent: 3px; }
    &:active:before { text-indent: 6px; }

}

.gpThumbs {

    position: absolute; left: 0; right: 0; top: 6em; display: none;
    background-color: #000; box-shadow: 0 0.3em 0.4em rgba(#000, 0.5);

    .gpThumbsActive & {

        @include animation(gpThumbsOpenAnimation 0.4s);
        display: block;

    }

}

.gpThumbsScroller {

    overflow:hidden;

    &.scrollSliderTouch {

    }

    > ul {

        display: table; margin: 0; padding: 0;

        > li {

            display: table-cell; padding: 0.5em 0.1em;

        }

    }

}

.gpThumb {

    @include transition(border-color 0.3s);
    display: block; position: relative; width: 13em; padding-bottom: percentage(4/7); overflow: hidden;
    border: 2px solid transparent; cursor: pointer;

    > img {

        position: absolute; left: 0; top: 0; width: 100%;

    }

    &:hover {
        border-color: darken(#C9393C, 15%);
    }

    &.gpThumbActive {

        border-color: #C9393C;

    }

}



.gpScrollSliderArrowNext, .gpScrollSliderArrowPrev {

    @include normalizeButton;
    @include transition(opacity 1s);
    position: absolute; top: 0; bottom: 0; width: 3em;
    text-indent: -999em; background-color: rgba(#000, 0.5);

    &:before {

        font-size: em(20,10);
        position: absolute; left: 0; top: 50%; margin-top: em(-15,20); right: 0;
        color: #fff; text-indent: 0; text-align: center; line-height: em(30,20);

    }

}

.gpScrollSliderArrowPrev {

    left: 0; &:before { content: '\2039'; }

}

.gpScrollSliderArrowNext {

    right: 0; &:before { content: '\203A'; }

}

.gpScrollSliderArrowDisabled {

    opacity: 0; cursor: auto;

}

@include keyframes(gpThumbsOpenAnimation) {
    from { @include transform( translate3d(0, -15em, 0)); }
    to { @include transform( translate3d(0, 0, 0)); }
}